<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a >ADMIN</a>
    </li>
  </ul><!-- /.breadcrumb -->
</div>

  <div class="page-content">
    <div class="row">
      <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
                    <h2>Chào mừng bạn đến với trang quản trị</h2>
                    <p>
                    <img src="/assets/product/60.jpg" style="width: 650px; height: 250px;" alt="">
                    </p>
                    <!-- <div id="chartContainer" style="height: 370px; width: 100%;"></div> -->

        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->
